<div class="entry">
	<div class="header">
		<img id="center_this" src ="http://162.243.171.11/COM3780/homework/2/banner.png" height="50" width="800" alt="Rancid Tomatoes"/>
	</div>

	<h1>{{title}} ({{year}})</h1>

	<div class="main_content">
		<div class="collective_reviews">
			<h2>
				<img src="http://162.243.171.11/COM3780/homework/2/{{rating_picture}}big.png" height="83" />
				<span id="upper">{{rating}}%</span>
			</h2>		
			
			<div class="left_column">
				{{#each left_column}}
				<div class="columns_of_reviews">
					<p class="description">
						<img src="http://162.243.171.11/COM3780/homework/2/{{#if this.rating}}{{this.rating}}{{else}}{{this.verdict}}{{/if}}.gif" alt="Rating"/>						{{#if this.excerpt}}{{this.excerpt}}{{else}}{{this.review}}{{/if}}
					</p>
			
					<p class="source">
						<img src="http://162.243.171.11/COM3780/homework/2/critic.gif" alt="Critic"/>
						{{this.critic}}<br /><cite>{{this.affiliation}}</cite>
					</p>
				</div>
				{{/each}}
			</div>
	
			<div class="right_column">
				{{#each right_column}}
				<div class="columns_of_reviews">
					<p class="description">
						<img src="http://162.243.171.11/COM3780/homework/2/{{#if this.rating}}{{this.rating}}{{else}}{{this.verdict}}{{/if}}.gif" alt="Rating"/>
						{{#if this.excerpt}}{{this.excerpt}}{{else}}{{this.review}}{{/if}}					</p>
			
					<p class="source">
						<img src="http://162.243.171.11/COM3780/homework/2/critic.gif" alt="Critic"/>
						{{this.critic}}<br /><cite>{{this.affiliation}}</cite>
					</p>
				</div>
				{{/each}}
			</div>
		</div>
		
		<div class="general_overview">
			<img src ="http://162.243.171.11/aroffe/hw3/{{shortcut}}/overview.png" alt="General Overview" />
		
			<dl>
				{{#each overview}}
					<dt>{{this.tag}}</dt><dd>{{this.value}}</dd>
				{{/each}}
			</dl>
		</div>
		
		<div class="footer">
			(1-{{review_length}})
		</div>
		
	</div>
</div>

